## Import

In [9]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

ModuleNotFoundError: No module named 'mlxtend'

In [8]:
df = pd.read_csv('project.csv')
df.head()

,STUDENTID,COURSENAMEENG,SUBGROUP,MAINGROUP
0,6310210,Thai Language Skills,Language Course,General Education Course
1,6310210,Information Technology Workshop 1,Major Required Course,Specific Required Course
2,6310210,Computer Programming,Core Course,Specific Required Course
3,6310210,Basic Information Technology,Science and Mathematics Course,General Education Course
4,6310210,Mathematics for Information Technology 1,Core Course,Specific Required Course

In [10]:
#check number of rows and number of attributes
print(df.shape)

(9830, 4)

In [11]:
df.isnull().sum()

STUDENTID        0
COURSENAMEENG    0
SUBGROUP         0
MAINGROUP        0
dtype: int64

In [12]:
#Group transaction data (1 tansaction per row and each product as 1 column)
basket = (df.groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))

#Convert positive values to 1
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
basket_sets = basket.applymap(encode_units)

basket_sets.head()

KeyError: 'InvoiceNo'